@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header {
        grid-area: header;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @apply font-extrabold text-2xl;
    }
    .main {
        grid-area: main;
        display: flex;
        flex-wrap: wrap;
        @apply bg-lime-200;
    }

    .sidebar {
        grid-area: sidebar;
        align-content: flex-start;
        @apply text-center;
    }
    
    .footer {
        grid-area: footer;
        @apply text-center;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 100px 1fr 1fr 100px;
        grid-template-rows: 50px 1fr 50px; 
        grid-template-areas: 
        "header header header header"
        "sidebar main main main"
        "footer footer footer footer";
        @apply h-screen w-screen gap-1 p-1;
    }
}